---

---

<h1>hello</h1>

<style lang='scss'>
	@use 'open-props-scss' as op;

	:root {
		font-family: op.$font-sans;

		--page-bg: #{op.$gray-2};
		--page-text: #{op.$gray-9};

		@media (prefers-color-scheme: dark) {
			--page-bg: #{op.$gray-9};
			--page-text: #{op.$gray-1};
		}

		background-color: var(--page-bg);
		color: var(--page-text);
	}
</style>
